body {
  margin: 20px 0;
  padding: 0;
  font-family: 'Anton', sans-serif;
  background: linear-gradient(270deg, #246655, #318e76, #28d9ab);
background-size: 600% 600%;

  -webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;
  
}
th {
  font-family: 'Josefin Sans', sans-serif;
}
dt {
  font-family: 'Josefin Sans', sans-serif;
}
dd{
  font-family: 'Josefin Sans', sans-serif;
}
td{
  font-family: 'Josefin Sans', sans-serif;
}


@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
